@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  font-family: "Roboto", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  outline: none;
}

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}